$card-bg:blue;

.nosotrosImagen {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsRdtau9Ry87nHSjvacj8ovs71dOowdijIOg&usqp=CAU");
    height: 300px;
}
.nosotrosImagenTexto {
    display: flex;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    line-height: 150px;
}
.imagenUnoNosotros {
    margin: 20px;
}

.cardNosotros {
    background: blue;
}