$input-color: red;

@import "bs_sass/bootstrap.scss";
@import "_nosotros.scss";
@import "_variables.scss";
@import "_navbar.scss";
@import "_mediaqueries.scss";
@import "_index.scss";
* {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


body {
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}


